body {
  display: block;
  background-color: hsl(204, 43%, 93%);
  font-family: "Karla", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}
.wraper {
  margin: 20px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  background-color: #fff;
  max-width: 800px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);

  .head {
    grid-column: 1/3;
    grid-row: 1/2;
    // border: 1px solid red;
    padding-bottom: 35px;

    h1 {
      color: hsl(179, 62%, 43%);
      font-size: 34px;
      font-weight: bold;
      margin-top: 2em;
      margin-bottom: 1em;
      margin-left: 0.83em;
    }

    h3 {
      font-size: 1.5em;
      margin-left: 1.2em;
      color: hsl(71, 73%, 54%);
      font-weight: bold;
      padding: 0.5em;
    }

    p {
      color: #999;
      font-size: 18px;
      margin: 7px;
      margin-left: 2em;
    }
  }

  .subscription {
    grid-column: 1/2;
    grid-row: 2/3;
    // border: 1px solid yellow;
    background-color: hsl(179, 62%, 43%);
    color: #fff;
    font-size: 18px;
    padding: 35px;

    h1 {
      font-size: 1.5em;
      font-weight: bold;
      // margin-left: 1em;
      margin: 20px 0;
      margin-bottom: 1em;
    }

    p {
      margin: 1em 0 2em 0;
    }
    .cost {
      display: flex;
      flex-direction: row;
      align-items: center;

      h2 {
        color: #fff;
        // margin-left: 30px;
        font-size: 50px;
        margin-right: 10px;
      }

      p {
        color: hsl(179, 43%, 75%);
        font-size: 18px;
      }
    }

    button {
      width: 100%;
      // margin: 0 0 3em 2em;
      background-color: hsl(71, 73%, 54%);
      border-radius: 5px;
      border: none;
      box-shadow: 0 5px 10px 10px rgba(0, 0, 0, 0.05);
      color: #fff;
      font-size: 18px;
      font-weight: 700;
      padding: 20px 0;
    }
  }

  .description {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: hsl(179, 47%, 52%);
    color: #fff;
    // border: 1px solid blueviolet;
    padding: 35px;

    h1 {
      font-size: 1.5em;
      font-weight: bold;
      margin: 20px 0;
    }

    ul {
      list-style-type: none;
      opacity: 0.7;
    }

    ul li {
      line-height: 28px;
    }
  }
}


