body {
  box-sizing: border-box;
  height: 100vh;
}

header {
  text-align: right;
  padding: 10px;

  input {
    border: 1px solid #f40552;
    border-radius: 10px;
    outline: none;
    text-indent: 10px;
    color: #862a5c;
    font-size: 18px;
  }

  .page-no {
    width: 5%;
    visibility: hidden;

    &::placeholder {
      font-size: 10px;
    }
  }
}

.wrapper {
  height: 90%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 66.5%;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-size: 50px;
  color: blue;
  padding: 5px;
}

.left-button {
  margin-right: 6em;
}

.right-button {
  margin-left: 6em;
}
