@import "./reset.scss";

@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400;500&display=swap");

body {
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Maven Pro", sans-serif;
  color: #ffffff;
}

.wrapper {
  border-radius: 10px;
  background: linear-gradient(#2a5967, #4e7f5f);
}

.design {
  margin: 30px;
  position: relative;
  box-shadow: 15px 12px 13px 0px #213b42b8;
  border-top: 2px solid #79969a;
  border-radius: 4px;
}

.log-in-out {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 101%;
  clip-path: polygon(0% 0%, 0% 100%, 101% 100%, 100% 90%, 15% 0%);
  border-radius: 4px;
  background: linear-gradient(#9fb1b6, #084555);
}

.sign-up-h1 {
  font-size: 40px;
  margin: 2em 1.3em 0 1.3em;
  animation-duration: 1s;
}

.sign-up-form {
  display: flex;
  margin: 2em 0 0 52px;
  flex-flow: column nowrap;
  width: 45%;
  animation-duration: 1s;
}

input {
  color: #ffffff;
  outline: none;
  border: none;
  border-bottom: 1px solid;
  width: 60%;
  background: none;
  font-size: 17px;
  padding: 3px 0;

  &::placeholder {
    color: #335a69;
    font-size: 15px;
  }
}

label {
  margin-top: 3px;
  margin-bottom: 15px;
  font-size: 15px;
  color: #99d1da;
}


.ckbox {
  display: flex;
  flex-direction: row;

  input {
    width: fit-content;
    margin: 3px 10px 30px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #07ee2d;
    border: 1px solid #cacece;
    padding: 6px;
    border-radius: 2px;
    position: relative;

    &:checked {
      background-color: #07ee2d;
      border: 1px solid #adb8c0;
    }

    &:checked::after {
      content: "\2714";
      font-size: 16px;
      position: absolute;
      top: -3px;
      left: 0px;
      color: black;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

#submit, .log-in-submit {
  width: 60%;
  padding: 8px;
  border: none;
  background: #4af74a;
  border-radius: 3px;
  outline: none;
  box-shadow: 16px 11px 4px 2px #022f3b;
  transition: box-shadow 0.3s ease-in;
  font-size: 18px;
  color: #044e5e;

  &:hover {
    cursor: pointer;
    box-shadow: 4px 6px 4px 2px #022f3b;
  }
}

.log-in-btn {
  color: #00fffef5;
  position: absolute;
  text-decoration: underline;
  left: 40%;
  bottom: 5.5%;
  padding: 3px;
  font-size: 20px;

  &:hover {
    cursor: pointer;
  }
}

.log-in-h1 {
  display: none;
  font-size: 40px;
  margin: 3em 1.3em 0 1.3em;
  animation-duration: 1s;
  animation-delay: -.6s;
}

.log-in-form {
  display: none;
  flex-direction: column;
  margin: 3em 0 0 52px;
  width: 45%;
  animation-duration: 1s;
  animation-delay: -.6s;
}

.log-in-submit {
  margin-top: 2em;
}

.wallwaper {
  width: 700px;
  height: 500px;
  background-image: url("./img/backgroud-img4.jpg");
  background-position: bottom;
  background-size: cover;
  border-radius: 4px;
}
